
.cart{ 
    width: 30px;
    height: 30px;
    border-radius: var(--radius);
    color: var(--color-text-negative-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.3em;
}

.cart__quantity{
    position: absolute;
    font-size: .6em;
    top: -5px;
    right: -5px;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    color: var(--color-text-negative-primary)
}

.cart:hover{
    cursor: pointer;
  }


