.nav{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: var(--color-background-nav);
  color: var(--color-text-negative-primary);
  padding: 20px;
  box-sizing: border-box;
}

nav *{
  list-style: none;
}

.nav__title{
  display: flex;
  align-items: center;

  cursor: pointer;
  font-size: 1.5em;
}

.nav__brand-name {
  margin-left: 10px;
}

.search{
  margin: 0 20px 0 auto;
}

.search__input{
  border-radius: 50px;
  padding: 6px;
  width: 200px;
  align-items: center;
  text-align: center;
  border: none;
}

.buttons__list{
  display: flex;
  max-height: 50px;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
}

.buttons__list > .li{
  height: 50px
}

.buttons_contact{
  cursor: pointer;
  background-color:var(--color-accent);
  border-radius: var(--radius);
  text-align: center;
  padding: 6px;
}

.buttons__list > *{
  cursor: pointer;
}

.buttons_categories {
  display: inline-flex;
  position: relative;
  padding: 10px;
  z-index: 9999;
}
  
.buttons_categories:hover 
{
  border-radius: 5px 5px 0 0 ;
  background: #000000bf;
}

.buttons_categories:hover .items {
  
  opacity: 1;
}
  
.items {
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  background: rgb(0,0,0, .75);
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  font-size: 15px;
  box-sizing: border-box;
  transition: opacity ease-in-out .15s;
}

.items li{
  padding: 10px;
  font-size: .9em;
}
.items li:hover{
  background-color: var(--color-accent);
}

.buttons_categories-icon{
  margin-left: 6px;
}

.lnk:link{
  all:unset

}
.lnk:visited{
  all:unset
}

/* 
@media screen and (max-width:1200px){
  .buttons__list{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    background-color: var(--color-background-nav);
    flex-direction: column;

  } 
} */